.search-bar-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.search-bar-container:focus-within {
  border-color: #007bff;
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.2);
}

.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 16px;
  padding: 0;
}

.search-input::placeholder {
  color: #aaa;
}